* {
  font-family: 'Courier New', monospace;
  --accentColor: #c5c879;
  --mobileAccentColor: #fa6262
}

body {
  background-color: #ededed;
}

a {
  color: #463f3f;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--accentColor);
}

@media (max-width:1024px) {
  a {
    color: var(--mobileAccentColor);
    text-decoration-color: var(--mobileAccentColor);
  }
}

a:hover {
  color: var(--accentColor);
}

.grid {
  margin: 60px auto;
  max-width: 1200px;
  width: 80%;
  display: grid;
  grid-gap: 60px;
}

@media (max-width:1024px) {
  .grid {
    width: 100%;
    margin: 0px;
    grid-gap: 150px;
  }
}

.row {
  width: 100%;
  display: flex;
}

.custom-paragraph {
  line-height: 35px;
  font-size: x-large;
  background-color: white;
  padding: 60px;
  width: 100%;
}

@media (max-width:1024px) {
  .custom-paragraph {
    line-height: 70px;
    font-size: 50px;
  }
}

h4 {
  margin-top: auto;
}

@media (min-width:1025px) {
  .image-section {
    float: left;
    padding-right: 60px;
    padding-bottom: 1%;
  }
}

@media (max-width:1024px) {
  .image-section {
    display: none;
  }
}

.image-section .me {
  width: 100%;
}

.image-section .credit {
  font-size: small;
}

p.small {
  font-size: small;
  line-height: 20px;
}

@media (max-width:1024px) {
  p.small {
    font-size: xx-large;
    line-height: 40px;
  }
}

footer {
  text-align: center;
  margin: 40px 40px;
}

@media (max-width:1024px) {
  footer {
    margin-top: 130px;
  }
}
