* {
  font-family: 'Courier New', monospace;
  --accentColor: #fa6262;
}

body {
  background-color: #ededed;
}

a, a:active {
  text-decoration: none;
  color: var(--accentColor);
}

.grid {
  margin: 60px auto;
  max-width: 1200px;
  width: 80%;
  display: grid;
  grid-gap: 60px;
}

.row {
  width: 100%;
  display: flex;
}

.custom-paragraph {
  line-height: 30px;
  font-size: x-large;
  background-color: white;
  padding: 60px;
  width: 100%;
}

.bio {
  text-align: justify;
}

h4 {
  margin-top: auto;
}

@media (min-width:1025px) {
  .image-section {
    float: left;
    padding-right: 60px;
    padding-bottom: 1%;
  }
}

.image-section .me {
  width: 100%;
}

.image-section .credit {
  font-size: x-small;
}

@media (max-width:1024px) {
  .image-section {
    display: none;
  }
}

footer {
  text-align: center;
  margin: 40px 40px;
}

p.email {
  color: var(--accentColor);
}

p.small {
  font-size: small;
  line-height: 20px;
}